In [4]:
import pandas as pd

In [14]:
url= "https://raw.githubusercontent.com/WHPAN0108/BHT-DataScience-S23/main/python-DS/country.csv"
# Read the CSV file into a Pandas DataFrame
df = pd.read_csv(url)
# Display the first few rows of the DataFrame to verify it's loaded correctly
print(df.head())

       Name  Population     Area     GDP Currency
0   Germany    82521653   357385  3466.0      EUR
1     Japan   126045000   377835  4938.0      YEN
2    Canada    36503097  9984670  1529.0      CAD
3     Italy    60501718   301338  1850.0      EUR
4  Brazilia   208360000  8515770  1798.0     REAL

In [7]:
# Display descriptive statistics for the numerical column (count, mean, std, min, 25%, 50%, 75%, max
print(df.describe())

         Population          Area          GDP
count  7.000000e+00  7.000000e+00     6.000000
mean   8.086839e+07  2.926464e+06  2387.500000
std    6.670195e+07  4.348507e+06  1532.497537
min    2.393827e+07  3.619700e+04   744.000000
25%    3.235604e+07  3.293615e+05  1596.250000
50%    6.050172e+07  3.778350e+05  1824.000000
75%    1.042833e+08  4.713910e+06  3062.000000
max    2.083600e+08  9.984670e+06  4938.000000

In [8]:
# Show the last 4 rows of the data frame.
print(df.tail(4))

        Name  Population     Area     GDP Currency
3      Italy    60501718   301338  1850.0      EUR
4   Brazilia   208360000  8515770  1798.0     REAL
5     Taiwan    23938272    36197   744.0      NTD
6  Venezuela    28208977   912050     NaN      VED

In [10]:
# Show all the rows of countries that have the EURO
euro_cntrs_df = df[df['Currency'] == 'EUR']
print(euro_cntrs_df)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
3    Italy    60501718  301338  1850.0      EUR

In [22]:
# Show only name and Currency in a new data frame
name_currency_df = df[['Name', 'Currency']]
print(name_currency_df)

        Name Currency
0    Germany      EUR
1      Japan      YEN
2     Canada      CAD
3      Italy      EUR
4   Brazilia     REAL
5     Taiwan      NTD
6  Venezuela      VED

In [16]:
# Show only the rows/countries that have more than 2000 GDP (it is in Milliarden USD Bruttoinlandsprodukt)
gdp_2000plus_cntrs_df = df[df['GDP'] > 2000]
print(gdp_2000plus_cntrs_df)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN

In [23]:
# Select all countries with inhabitants between 50 and 150 Mio
pop_50_150_df = df[(df['Population'] >= 50e6) & (df['Population'] <= 150e6)]
print(pop_50_150_df)

      Name  Population    Area     GDP Currency
0  Germany    82521653  357385  3466.0      EUR
1    Japan   126045000  377835  4938.0      YEN
3    Italy    60501718  301338  1850.0      EUR

In [24]:
# Calculate the GDP average (ignore the missing value)
gdp_average_df = df['GDP'].mean()
print("GDP average (ignoring missing values):" , gdp_average_df)

GDP average (ignoring missing values): 2387.5

In [25]:
# Calculate the GDP average (missing value treated as 0)
gdp_average_df_1 = df['GDP'].fillna(0).mean()
print("GDP average (missing value treated as 0):", gdp_average_df_1)

GDP average (missing value treated as 0): 2046.4285714285713

In [26]:
# Calculate the population density (population/area)  of all countries and add as new column
df['Population_Density'] = df['Population'] / df['Area']
print(df)

        Name  Population     Area     GDP Currency  Population_Density
0    Germany    82521653   357385  3466.0      EUR          230.904075
1      Japan   126045000   377835  4938.0      YEN          333.597999
2     Canada    36503097  9984670  1529.0      CAD            3.655914
3      Italy    60501718   301338  1850.0      EUR          200.776928
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

In [27]:
# Sort by country name alphabetically
df_name_sorted = df.sort_values(by='Name')
print(df_name_sorted)

        Name  Population     Area     GDP Currency  Population_Density
4   Brazilia   208360000  8515770  1798.0     REAL           24.467547
2     Canada    36503097  9984670  1529.0      CAD            3.655914
0    Germany    82521653   357385  3466.0      EUR          230.904075
3      Italy    60501718   301338  1850.0      EUR          200.776928
1      Japan   126045000   377835  4938.0      YEN          333.597999
5     Taiwan    23938272    36197   744.0      NTD          661.333039
6  Venezuela    28208977   912050     NaN      VED           30.929200

In [28]:
# Create a new data frame from the original where the area is changed: all countries with > 1000000 get BIG and <= 1000000 get SMALL in the cell replaced!
df_area_labelled = df.copy()
df_area_labelled['Area'] = df_area_labelled['Area'].apply(lambda x: 'BIG' if x > 1000000 else 'SMALL')
print(df_area_labelled)

        Name  Population   Area     GDP Currency  Population_Density
0    Germany    82521653  SMALL  3466.0      EUR          230.904075
1      Japan   126045000  SMALL  4938.0      YEN          333.597999
2     Canada    36503097    BIG  1529.0      CAD            3.655914
3      Italy    60501718  SMALL  1850.0      EUR          200.776928
4   Brazilia   208360000    BIG  1798.0     REAL           24.467547
5     Taiwan    23938272  SMALL   744.0      NTD          661.333039
6  Venezuela    28208977  SMALL     NaN      VED           30.929200